pipeline/dev-datadump-recpipeline.json
{
	"name": "dev-datadump-recpipeline",
	"properties": {
		"activities": [
			{
				"name": "GetFolderMetaData",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataDumpRec",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "@pipeline().parameters.folderPath"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ProcessChildItems",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFolderMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFolderMetadata').output.childItems\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "IsFolderCheck",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type, 'Folder')\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "RecurseIntoFolder",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"waitOnCompletion": true
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"folderPath": {
				"type": "string"
			}
		},
		"annotations": []
	}
}